---

---

<div
  class="text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-4 relative whitespace-nowrap text-center text-white"
>
  ¡Aprovecha a comprar Desayunos y meriendas saludables con 30%de descuento! 💣 quedan 12h : 31m : 8s
</div>
